[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
tensorflow = "*"
gym = "*"
baselines = {editable = true,git = "https://github.com/openai/baselines",ref = "tf2"}

[requires]
python_version = "3.8"
